@{
    ViewData["Title"] = "Kereskedő kezelés";
}

<div class="row col-12">
    <h1>Kereskedő kezelés</h1>
    <div class="row col-12">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>E-Mail</th>
                    <th>Telefon</th>
                    <th>Ország/Település</th>
                    <th>Név</th>
                </tr>
            </thead>
        </table>
    </div>
</div>