@{
    ViewData["Title"] = "Gépjárműgyár regisztráció";
}

<div class="row">
    <div class="col-12">
        <h1>Gépjárműgyár Kezelés</h1>
        <section class="row"> <!--Gyár rögzítés-->
            <h2>Gépjárműgyár rögzítése</h2>
            <form onSubmit="return false;">
                <div class="form-group">
                    <label for="email">Gyár E-mail címe</label>
                    <input type="text" name="email" id="email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="email">Gyár neve</label>
                    <input type="text" name="email" id="email" class="form-control" style="margin-bottom:2%;" required />
                </div>
                <div class="form-group">
                    <select class="form-control>" name="enabled" id="enabled">
                        <option value="0">Nem elérhető</option>
                        <option selected value="1">Elérhető</option>
                    </select>
                </div>
                <button class="btn btn-success" style="margin-top:2%;">Gyár felvétele</button>
            </form>
        </section>

        <section class="row">
            <h2>Regisztrált gépjárműgyárak</h2>
        </section>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Azonosító</th>
                    <th>Email</th>
                    <th>Státusz</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in ViewBag.Factories)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.email</td>
                        <td>
                            <select class="form-control>" name="enabled" id="enabled">
                                @if (item.enabled)
                                {
                                    <option value="0">Nem elérhető</option>
                                    <option value="1" selected>Elérhető</option>
                                }
                                else
                                {
                                    <option value="0" selected>Nem elérhető</option>
                                    <option value="1">Elérhető</option>
                                }
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>