@{
    ViewData["Title"] = "Szerviz kezelés";
}

<div class="row col-12">
    <h1>Szerviz kezelés</h1>
    <div class="row col-12">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>E-Mail</th>
                    <th>Name</th>
                    <th>Phone</th>
                </tr>
            </thead>
        </table>
    </div>
</div>