@using AutoPortal.Models.DbModels
@using Microsoft.IdentityModel.Tokens
@{
    ViewData["Title"] = "Szerviz keresése";
}

<h1>Szerviz keresés</h1>

@if (!((List<Service>)ViewBag.Services).IsNullOrEmpty())
{
    <div>
        @foreach (var item in ViewBag.Services)
        {
            <div class="row">
                <h2><a href="servicePublicProfile?serviceId=@item.id">@item.name</a></h2>
                <p>@item.country @item.city @item.address</p>
            </div>
            <hr />
        }
    </div>

}
