@{
    ViewData["Title"] = "Elfelejtett jelszó";
}
<div class="row">
    <div class="col-12">
        <div>
            <section>
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card shadow-2-strong" style="border-radius: 1rem;background-color: #508bfc;">
                                <div class="card-body p-5 text-center">
                                    <h1>Elfelejtett jelszó</h1><br />
                                    <div>
                                        <p>Amennyiben elfelejtette a jelszavát, kérjük adja meg a fiókjához tartozó e-mail címet, és küldünk egy levelet az új jelszó beállításával kapcsolatos utasításokkal.</p><br />
                                    </div>

                                    <form method="post" class="container">
                                        <div class="form-group row">
                                            <input type="text" class="form-control" required placeholder="E-Mail" name="email" />
                                        </div>
                                        <div class="form-group row center">
                                            <div class="col-md-4"></div>
                                            <button class="btn btn-info col-md-4" type="submit" style="margin-top:4%;">Küldés</button>
                                            <div class=" col-md-4"></div>
                                        </div>
                                    </form>
                                    <a asp-controller="Auth" asp-action="Login" style="color:wheat;">Vissza a bejelentkezéshez</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>
</div>