@{
    ViewData["Title"] = "Elfelejtett jelszó";
}
<div class="col-md-4 offset-md-4">
    <h1>Elfelejtett jelszó</h1>
    <form method="post" class="container">
        <div class="form-group row">
            <input type="text" class="form-control" required placeholder="E-Mail" name="email" />
        </div>
        <div class="form-group row center">
            <div class="col-md-5"></div>
            <button class="btn btn-primary col-md-3 " type="submit">Küldés</button>
            <div class=" col-md-5"></div>
        </div>
    </form>
    <a asp-controller="Auth" asp-action="Login">Vissza a bejelentkezéshez</a>
</div>