@{
    ViewData["Title"] = "Új jelszó";
}

@section Scripts {
    <script type="text/javascript">
        $("#sendBtn").click(function () {
            $.ajax({
                url: "/Auth/ForgotPassword",
                data: JSON.stringify({
                    'newPassword': $("#newPassword").val(),
                    'newPasswordRepeat': $("#newPasswordRepeat").val(),
                    'token': $("#token").val(),
                    'userId': Number($("#userId").val()),
                    'userType': Number($("#userType").val())
                }),
                success: function (e) {
                    $("#formResetPassword").hide();
                    function moveToLoginPage() {
                        window.location.replace("Login");
                    };
                    window.setTimeout(moveToLoginPage, 2000);
                },
                type: "post",
                //dataType: "json",
                contentType: "application/json",
                cache: false,
                async: true
            });
        });
    </script>
}


<div class="container">
    <div class="row" style="margin-top:20%;"></div>
    <div id="formResetPassword" class="col-6 offset-3" style="text-align:center;">
        <h3>Új jelszó</h3>
        <div>
            <input type="hidden" id="token" value="@TempData["token"]" />
            <input type="hidden" id="userId" value="@TempData["userId"]" />
            <input type="hidden" id="userType" value="@TempData["userType"]" />
            <div class="row form-group">
                <input type="password" class="form-control" id="newPassword" placeholder="Új jelszó" />
            </div>
            <div class="row form-group">
                <input type="password" class="form-control" id="newPasswordRepeat" placeholder="Új jelszó ismétlése" />
            </div>
            <button id="sendBtn" class="btn btn-primary btn-lg">Mentés</button>
        </div>
    </div>
</div>