@{
    ViewData["Title"] = "Új jelszó";
}

@section Scripts {
    <script type="text/javascript">
        $("#sendBtn").click(function () {
            $.ajax({
                url: "/Auth/ForgotPassword",
                data: JSON.stringify({
                    'newPassword': $("#newPassword").val(),
                    'newPasswordRepeat': $("#newPasswordRepeat").val(),
                    'token': $("#token").val(),
                    'userId': Number($("#userId").val()),
                    'userType': Number($("#userType").val())
                }),
                success: function (e) {
                    $("#formResetPassword").hide();
                    function moveToLoginPage() {
                        window.location.replace("Login");
                    };
                    window.setTimeout(moveToLoginPage, 2000);
                },
                type: "post",
                //dataType: "json",
                contentType: "application/json",
                cache: false,
                async: true
            });
        });
    </script>
}

<div class="row">
    <div class="col-12">
        <div>
            <section>
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card shadow-2-strong" style="border-radius: 1rem;background-color: #508bfc;">
                                <div class="card-body p-5 text-center">
                                    <h3>Új jelszó</h3><br />
                                    <div>
                                        <input type="hidden" id="token" value="@TempData["token"]" />
                                        <input type="hidden" id="userId" value="@TempData["userId"]" />
                                        <input type="hidden" id="userType" value="@TempData["userType"]" />
                                        <div class="row form-group">
                                            <input type="password" class="form-control" id="newPassword" style="margin-top:3%;" placeholder="Új jelszó" />
                                        </div>
                                        <div class="row form-group">
                                            <input type="password" class="form-control" id="newPasswordRepeat" style="margin-top:3%;" placeholder="Új jelszó ismétlése" />
                                        </div>
                                        <button id="sendBtn" class="btn btn-info btn-lg" style="margin-top:3%;">Mentés</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>